# 버거지수
> 한 도시의 발전 수준은 `(버거킹의 개수 + 맥도날드의 개수 + KFC의 개수) / 롯데리아의 개수` 로 나타낼 수 있다고 한다.
>
> locationA 에 있는 딕셔너리를 인자로 받아 버거지수를 계산하는 함수를 만들고 호출하시오.

In [79]:
locationA = {
    'king': 2,
    'mc': 4,
    'kfc': 1,
    'ria': 3
}

# 아래에 코드를 작성하세요.

def burger(dic):
    up = 0
    down = 0
    for key, value in dic.items():
        if key == 'ria':
            down += value
        else:
            up += value
    result = up / down
    return result

In [80]:
burger(locationA)

2.3333333333333335

In [81]:
def burger2(king, mc, kfc, ria):
    return (king + mc + kfc) / ria

In [82]:
burger2(**locationA)

2.3333333333333335

# 종합소득세 계산하기
> A라는 나라에서 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용됩니다.

|과세표준액|세율|
|-------|---|
|1,200이하|6%|
|1,200 ~ 4,600|15%|
|4,600 ~ |35%|

```
즉, 1,300원을 벌었을 경우 1,200\*0.06 + 100\*0.15를 계산한 결과가 납부해야 하는 세액입니다.

함수 tax를 만들고 납부해야하는 세금의 결과를 반환하는 함수를 만들어보세요.
```

In [83]:
# 아래에 코드를 작성하세요
def tax(x):
    if x > 4600:
        result = 1200 * 0.06 + 3400 * 0.15 + (x - 4600) * 0.35
    elif x > 1200:
        result = 1200 * 0.06 + (x - 1200) * 0.15
    else:
        result = x * 0.06
    return result

In [84]:
tax(5000)

722.0

In [87]:
def tax2(x):
    if x > 4600:
        return 1200 * 0.06 + 3400 * 0.15 + (x - 4600) * 0.35
    elif x > 1200:
        return 1200 * 0.06 + (x - 1200) * 0.15
    else:
        return x * 0.06

In [88]:
tax2(5000)

722.0

# 텔레그램 챗봇

> 텔레그램 메신져를 이용하여 챗봇을 개발하려고한다.
>
> api를 사용하기 위해 공식문서를 찾아보니 `https://api.telegram.org/bot<token>/METHOD_NAME`와 같은 경로로 
>
> token과 사용할 method의 이름을 넣어서 요청으로 보내라고 한다.
>
> 사용자에게 토큰과 사용할 메소드 이름을 받아 url을 만들어주는 함수를 만들어보시오.
>
> 개발자가 발급받은 토큰은 길이가 41자 라는 규칙을 따른다. 사용자가 잘못된 토큰을 넣었다면 '403'을 반환하시오

```
예시)
https://api.telegram.org/bot123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11/getMe
```

In [89]:
# 아래에 코드를 작성하세요
def tele(token, method):
    base_url = 'https://api.telegram.org/bot'
    if len(token) != 41:
        print('403')
        return 403
    return f'{base_url}{token}/{method}'

tele('123123:afjio;wef', 'getMe')
tele('123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11', 'getMe')

403

'https://api.telegram.org/bot123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11/getMe'

# 솔로 천국
> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다.
> 
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다.
> 
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
> 
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.

```
예시)

lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4,4,4,3,3]) #=> [4,3]
```

In [73]:
# 여기에 코드를 작성하세요
def lonely(list_o):
#     list_c = list_o
#     count = 0
#     for i in range(len(list_o)-1):
#         if list_c[count] == list_c[count+1]:
#             del list_c[count+1]
#         else:
#             count += 1
#     print(list_c)    # 너무 어렵게 생각했다..ㅠ
    
    
    list_d = []
    e = list_o[0]
    list_d.append(e)
    for value in list_o:
        if e != value:
            list_d.append(value)
            e = value
    print(list_d)

In [74]:
lonely([1, 1, 3, 3, 0, 1, 1])
lonely([4,4,4,3,3])

[1, 3, 0, 1]
[4, 3]

In [90]:
def lonely2(nums):
    # 하나씩 확인하면서,
        # 만약에 지난번 숫자와 지금 숫자가 동일하면 지운다.
    # nums를 반환한다.  => out of range 오류가 날 위험이 높다.
    
    # result 빈통
    result = [] # 담아놓고 시작!
    for idx, value in enumerate(nums):
        if idx == 0 or result[-1] != value:
            result.append(value)
        # 만약에 result의 마지막 원소와 지금 숫자가 동일하지 않다면 넣는다!
    return result

In [91]:
lonely2([1, 1, 3, 3, 0, 1, 1])

[1, 3, 0, 1]