In [1]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [3]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.lower()

"hi! everyone, i'm kim"

In [4]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [7]:
# 아래에 코드를 작성하세요.
'apple'.join(['1', '2', '3'])

'1apple2apple3'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [10]:
# 아래에 코드를 작성하세요.
'apple'.replace('p', 'a', 1) # count는 바꾸는 횟수

'aaple'

In [11]:
'apple'.replace('p', 'a')

'aaale'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [14]:
# 아래에 코드를 작성하세요.
'                       hi!'.strip()

'hi!'

In [13]:
'                       hi!                  '.strip()

'hi!'

In [15]:
'                       hi!                 '.rstrip()

'                       hi!'

In [16]:
'                       hi!                 '.lstrip()

'hi!                 '

In [17]:
'안녕하세요^^'.rstrip('^^')

'안녕하세요'

In [18]:
'aabbaabbaabbaa'.strip('aa') # 양쪽 끝에 있는 문자열만 지움(가운데는 안됨)

'bbaabbaabb'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [19]:
# 아래에 코드를 작성하세요.
'wow!'.find('w')

0

In [20]:
'wow!'.find('a')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [22]:
# 아래에 코드를 작성하세요.
'wow!'.index('w')

0

In [23]:
'wow!'.index('a')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [24]:
# 아래에 코드를 작성하세요.
'3 10'.split()

['3', '10']

In [25]:
'apple'.split('p')

['a', '', 'le']

In [26]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [27]:
inputs = '3 10'
a, b = map(int, inputs.split())
print(a, b)

3 10

### 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [31]:
'a'.isalpha()

True

In [38]:
'011'.isnumeric()

True

In [34]:
'0as'.isdigit()

False

In [41]:
'a'.isupper()

False

In [45]:
'  '.isspace()

True

In [46]:
dir('a')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [62]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [63]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원카페')
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페']

In [64]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페', 'ediya']

In [55]:
caffe[len(caffe):]

[]

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [65]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페', 'ediya', '카페베네']

In [66]:
caffe.extend(['빽다방', '설빙'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페', 'ediya', '카페베네', '빽다방', '설빙']

In [67]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페', 'ediya', '카페베네', '빽다방', '설빙', '드롭탑']

In [69]:
# append와 비교해봅시다.
caffe.append(['동네카페'])
caffe

['starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페']]

In [70]:
caffe.extend('커피그루나루')
caffe # string을 넣을 때 조심!!!

['starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [73]:
a = '안녕하세요, 여러분'
a.split()
result = []
result.extend('안녕하세요, 여러분')
print(result)

['안', '녕', '하', '세', '요', ',', ' ', '여', '러', '분']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [75]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0, 'hi')

In [76]:
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 '루']

In [77]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(-1, 'bye')

In [78]:
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 'bye',
 '루']

In [80]:
caffe.insert(len(caffe), 'bye')

In [81]:
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '삼성화재연수원카페',
 'ediya',
 '카페베네',
 '빽다방',
 '설빙',
 '드롭탑',
 ['동네카페'],
 ['동네카페'],
 '커',
 '피',
 '그',
 '루',
 '나',
 'bye',
 '루',
 'bye']

In [82]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+1000, '안녕')

In [83]:
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', '삼성화재연수원카페', 'ediya', '카페베네', '빽다방', '설빙', '드롭탑', ['동네카페'], ['동네카페'], '커', '피', '그', '루', '나', 'bye', '루', 'bye', '안녕']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [84]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [85]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [86]:
numbers

[2, 3, 1, 2]

In [87]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [88]:
numbers

[2, 3, 2]

In [89]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [94]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [95]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
print(a.pop(0))
print(a)

1
[2, 3, 4, 5, 6]

In [97]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
member = ['연용흠', '박태수', '염동환', '토마스']

In [98]:
bye_member = member.pop()

In [99]:
print(f'{bye_member}님 이용해주셔서 감사합니다.')

토마스님 이용해주셔서 감사합니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [ ]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [100]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)

a.index(3)

1

In [101]:
a.index(10)

ValueError: 10 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [102]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [103]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
for _ in range(a.count(1)):   # 정해진 숫자만큼만 반복할 때 'i'같은 의미없는 변수 대신 '_' 사용
    a.remove(1)
print(a)

[2, 5, 5]

In [104]:
# 모두 삭제되었는지 검증해봅시다.
1 in a

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [106]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[13, 16, 9, 21, 28, 1]

In [107]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

[1, 9, 13, 16, 21, 28]

In [108]:
# sort는 반환값이 None이고 원본 자체를 바꾸기 때문에, 아래처럼 작성하면 안된다.
lotto = lotto.sort()
print(lotto)

None

In [110]:
# sorted()는 원본은 바꾸지 않지만, 정렬된 결과를 반환한다. 따라서 아래처럼 작성하면 안된다.
a = [1, 5, 3]
sorted(a)
print(a)

[1, 5, 3]

### `.reverse()`

반대로 뒤집습니다. (정렬 아님)

In [109]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [111]:
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [115]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copied_list = original_list
print(copied_list)

[1, 2, 3]

In [116]:
# 복사한 리스트의 첫번째 원소의 값을 바꾸고 리스트들을 출력해봅시다.
copied_list[0] = '연용흠'

In [117]:
copied_list

['연용흠', 2, 3]

In [118]:
original_list

['연용흠', 2, 3]

In [121]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

12284432 12284432

In [122]:
# 숫자를 확인해봅시다.
a = 3
b = a
b = 5
print(a, b)

3 5

In [123]:
# 딕셔너리도 확인해봅시다.
a = {'apple': '사과', 'banana': '바나나'}
b = a
b['apple'] = '맥북'
print(a, b)

{'apple': '맥북', 'banana': '바나나'} {'apple': '맥북', 'banana': '바나나'}

In [124]:
print(id(a), id(b))

96834304 96834304

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [125]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [126]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [127]:
# 리스트를 복사해봅시다.
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [128]:
# 다른 방법으로 복사해봅시다.
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a, b)

[1, 2, 3] [5, 2, 3]

In [4]:
a = [1, 2, 3]
b = a
b = [3]
print(a, b)

[1, 2, 3] [3]

In [129]:
# 얕은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [130]:
# 2차원 리스트를 복사해봅시다.
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3  # a 안에 있는 원소들은 모두 복사되지만 a[2] 같은 경우에는 그 자리에 리스트에 대한 주소가 들어있다.
print(a, b)  # 그렇기 때문에 a[:]로 복사하게 되면 a[2]의 리스트는 주소로 복사되어 a[2] 안의 값이 변하면 a와 b 모두에서 변한다.

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [5]:
a = [1, 2, [1, 2]]
b = a[:]
b[2] = [0, 3] # 새로운 주소 자체를 저장하기 때문에 위의 코드와 다른 방식으로 작동한다.
print(a, b)

[1, 2, [1, 2]] [1, 2, [0, 3]]

In [131]:
# 얕은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [132]:
# 깊은 복사를 사용해봅시다.
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a, b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [133]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

In [134]:
map(int,[1, 2])

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [135]:
# clear를 사용해봅시다.
a = [1, 2, 3]
a.clear()
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [136]:
a = range(1,11)

In [137]:
# 기존의방법
# 결과를 담을 통
cubic_list = []
# 숫자 범위를 반복
for num in a:
    cubic_list.append(num**3)
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [138]:
# List Comprehension
cubic_list = [num**3 for num in a]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [145]:
a = range(1,11)

In [146]:
# 기존의방법
even_list = []
for num in a:
    if not num % 2:
        even_list.append(num)
print(even_list)

[2, 4, 6, 8, 10]

In [147]:
# List Comprehension
[num for num in a if not num % 2]

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [148]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [151]:
# 반복문을 활용하여 만들어주세요.
pair = []
for girl in girls:
    for boy in boys:
        pair.append((girl, boy))
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

In [154]:
# List comprehension을 활용하여 만들어주세요.
pair = [(girl, boy) for girl in girls for boy in boys]
print(pair)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [172]:
# 반복문을 활용하여 만들어주세요.
result = []
for a in range(1, 50):
    for b in range(a+1, 50):
        for c in range(b+1, 50):
            if a**2 + b**2 == c**2:
                result.append((a, b, c))
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [160]:
# List comprehension을 활용하여 만들어주세요.
[(a, b, c) for a in range(1, 50) for b in range(a, 50) for c in range(b, 50) if a**2 + b**2 == c**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [171]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
print(''.join([text for text in words if text not in 'aeiou']))

Lf s t shrt, y nd pythn!

In [175]:
''.join([word if word not in 'aeiou' else '*' for word in words])

'L*f* *s t** sh*rt, y** n**d pyth*n!'

In [173]:
type(('튜플'))

str

In [174]:
type(('튜플', ))

tuple

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [7]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [8]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('melon')

KeyError: 'melon'

In [9]:
my_dict.pop('apple')

'사과'

In [10]:
print(my_dict)

{'banana': '바나나'}

In [12]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('melon', False)

False

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [13]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [14]:
my_dict.update(apple='사과야')
print(my_dict)

{'apple': '사과야', 'banana': '바나나', 'melon': '멜론'}

In [15]:
my_dict.update({'banana': '바나나야'})
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론'}

In [16]:
my_dict.update(grape='포도') # keyword 인자는 변수에 넣어준다고 생각!! 따옴표 없이!! 
print(my_dict)

{'apple': '사과야', 'banana': '바나나야', 'melon': '멜론', 'grape': '포도'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [17]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [19]:
print(my_dict.get('pineapple'))

None

In [20]:
my_dict.get('pineapple', False)

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [21]:
# dictionary comprehension
[x**3 for x in range(1, 5)]

[1, 8, 27, 64]

In [22]:
{x: x**3 for x in range(1, 5)}

{1: 1, 2: 8, 3: 27, 4: 64}

In [25]:
result = {}
for x in range(1, 5):
    result[x] = x**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64}

In [23]:
{char: 0 for char in 'abcdef'}

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0}

In [24]:
result = {}
for char in 'abcd':
    result[char] = 0
print(result)

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

### dictionary comprehension 사용해보기

In [26]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [27]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
{key: value for key, value in dusts.items() if value > 80}

{'대전': 82, '중국': 200}

In [29]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
{key: '나쁨' if value > 80 else '보통' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [32]:
value = 82
'나쁨' if value > 80 else '보통'

'나쁨'

In [33]:
# elif처럼 사용할 수 있습니다.
{key: '매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [34]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

In [39]:
a.add('파인애플')
print(a)
a.add('파인애플')
print(a)

{'수박', '바나나', '파인애플', '사과'}
{'수박', '바나나', '파인애플', '사과'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [40]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.update('토마토', '딸기')
print(a)

{'기', '마', '토', '수박', '사과', '딸', '바나나'}

In [41]:
a = {"사과", "바나나", "수박"}
a.update(('토마토', '딸기')) # tuple, list, set 같은 형식으로 넣어야 분리 안되고 들어간다.
print(a)

{'딸기', '수박', '토마토', '사과', '바나나'}

In [43]:
a = {"사과", "바나나", "수박"}
a.update(('토마토', ), ('딸기', ))
print(a)

{'딸기', '수박', '토마토', '사과', '바나나'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [44]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.remove('사과')

In [45]:
print(a)

{'수박', '바나나'}

In [46]:
a.remove('파인애플')

KeyError: '파인애플'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [47]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}
a.discard('파인애플') # => 에러를 발생시키지 않는다.
# a.discard('파인애플', 0) 이런 식으로는 사용 불가능!!!

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

In [ ]:
# dictionary
# [key] => 키 값이 없으면 오류 발생!!!
# .get(key) => 키 값이 없더라도 오류 발생하지 않음
# .pop() => 디폴트값이 없으면 오류 발생, 하지만 디폴트값을 입력하면 오류는 없다.

# set
# remove => 값이 없으면 오류 발생
# discard => 값이 없어도 오류는 발생하지 않음

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [48]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [56]:
result = []
for elem in a:
    result.append(str(elem))
print(result)

['1', '2', '3']

In [49]:
# list comprehension
[str(elem) for elem in a]

['1', '2', '3']

In [50]:
''.join([str(elem) for elem in a])

'123'

In [53]:
map(str, a)

In [54]:
list(map(str, a))

['1', '2', '3']

In [52]:
''.join(map(str, a))

'123'

In [58]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.
b, c, d = map(int, a)
print(b, c, d)

1 2 3

In [64]:
numbers = list(map(int, a))

In [61]:
# list comprehension
[int(x) for x in a]

[1, 2, 3]

* function은 사용자 정의 함수도 가능합니다.

In [62]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [65]:
[cube(elem) for elem in numbers]

[1, 8, 27]

In [66]:
# 함수를 함수의 인자로 넘겨줄 수 있다.
list(map(cube, numbers)) # map 안에 들어가는 함수는 함수이기만 하면 내가 만든 함수도 가능하다.

[1, 8, 27]

In [73]:
# 함수를 변수에 저장할 수 있다.
my_sum = sum

In [75]:
my_sum([1, 2, 3])

6

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [77]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [78]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
pair = []
for x in range(len(girls)):
    pair.append((girls[x], boys[x]))
print(pair)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [80]:
result = []
for idx_girl, girl in enumerate(girls):
    for idx_boy, boy in enumerate(boys):
        if idx_girl == idx_boy:
            result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [81]:
result = []
for girl, boy in zip(girls, boys):
    result.append((girl, boy))
print(result)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [83]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [84]:
{x for x in zip(girls, boys)}

{('iu', 'david'), ('jane', 'justin'), ('mary', 'kim')}

In [85]:
{girl: boy for girl, boy in zip(girls, boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [87]:
x, y = 1, 2
print(x, y)

1 2

* 아래와 같이 사용가능하다.

In [88]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [89]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [90]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [91]:
def even(n):
    return not n%2

In [92]:
list(filter(even, range(1, 10)))

[2, 4, 6, 8]

In [93]:
# 다음의 list comprehension과 동일하다.
[num for num in range(1, 10) if even(num)]

[2, 4, 6, 8]